@page
@model AboutmeModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/Aboutme.css">
<body>
<div class="boxbox" >
    <h1 class="Intro">Hi My Name is Omar Q. Sainodin</h1>
    <p>@ViewData["variable1"]</p>
</div>
</body>
